@import 'themes.scss';

.searchBoxContainer {
	display: flex;
	flex-direction: column;
	width: 300px;
}
.searchBoxContainer img {
	align-self: center;
	height: 70px;
}

.searchBoxContainer h3 {
	margin: 0;
	color: #333;
}

.searchBoxContainer input,
.searchBoxContainer input:focus,
.searchBoxContainer input:active {
	border: none;
	border-bottom: 1px solid #333;
	outline: none;
	margin: 10px;
	font-size: 1rem;
	margin: 25px 0;
}

.closeIcon {
	align-self: flex-end;
	font-size: 1.5rem;
	cursor: pointer;
	:focus,
	:hover {
		color: map-get($colors, main-purple);
	}
	@media (max-width: 768px) {
		align-self: center;
	}
}

.selectBtn {
	@include button;
}
