.bgWrapper {
	background-size: cover;
	background-repeat: no-repeat;
	height: 70vh;
	width: 100%;
	color: white;
	display: flex;
	flex-direction: column;
	font-size: 1.2rem;
	text-shadow: -1px 1px 5px rgba(150, 150, 150, 0.69);
}

.bgWrapper img {
	margin-right: 5px;
}
