.bgWrapper {
	background-size: cover;
	background-repeat: no-repeat;
	height: 70vh;
	min-height: 400px;
	width: 100%;
	margin: 0 auto;
	color: white;
	display: flex;
	flex-direction: column;
	font-size: 1.2rem;
	border-radius: 0 0 30px 30px;
	text-shadow: -1px 1px 5px rgba(150, 150, 150, 0.69);
	position: relative;
	//   @media (min-width: 768px) {
	//     max-width: 1280px;
	//   }
}

.bgWrapper img {
	margin-right: 5px;
}

.center {
	background-position: center;
}
