.navContainer {
  align-self: flex-start;
  padding: 15px 7px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  box-sizing: border-box;
}

.navContainer img {
  cursor: pointer;
  padding: 0 5px;
  @media (min-width: 650px) {
    height: 1.4rem;
  }
}
