$colors: (
  main-purple: #a244f5,
  main-pink: #e41de8,
  main-dim: #18191a,
  main-gray: #cccccc,
  temp-gradient-horizontal: linear-gradient(to right, #7b61e2, #e91ee9),
  temp-gradient-vertical: linear-gradient(to top, #7b61e2, #e91ee9),
);

@mixin text-shadow {
  text-shadow: -1px 2px 2px rgba(150, 150, 150, 0.94);
}

@mixin scale-up {
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@mixin modal($height: 100) {
  height: $height;
  margin: 0 auto;
  padding: 10px 20px 20px;
  display: flex;
  flex-direction: column;
  align-content: center;
  background: #fff;
  border-radius: 5px;
  z-index: 1000;
}

@mixin button {
  padding: 10px 10px;
  background: map-get($colors, main-purple);
  color: #fff;
  border: none;
  font-size: 1rem;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  :focus,
  :hover {
    background: map-get($colors, main-pink);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
