.mainDisplayContainer {
	background-size: cover;
	background-repeat: no-repeat;
	height: 70vh;
	width: 100%;
	color: white;
	display: flex;
	flex-direction: column;
	font-size: 1.2rem;
	text-shadow: -1px 1px 5px rgba(150, 150, 150, 0.69);
}
.locationContainer img {
	margin-right: 5px;
}

.mainDisplayContainer img {
	margin-right: 5px;
}

.navContainer {
	margin: 20px 0 0 20px;
	align-self: flex-start;
	box-sizing: border-box;
}
.dateContainer {
	box-sizing: border-box;
	margin-bottom: 5px;
}
.tempContainer {
	font-size: 4.5rem;
	box-sizing: border-box;
	margin: 40px auto 0;
	padding: 0;
	overflow: hidden;
}

.tempContainer p {
	margin: 0;
}

.weatherContainer {
	font-size: 1.3rem;
	margin: -5px auto 0;
	display: flex;
	align-items: center;
}
.weatherContainer img {
	margin-right: 5px;
}

.sideContainer {
	align-self: flex-start;
	padding: 5px;
	margin: 10px;
	height: 45px;
	margin-top: auto;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	font-size: 0.9rem;
}
